<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleDisplayName</key><string>ALPFA NJIT</string>
  <key>UILaunchScreen</key><dict><key>UIColorName</key><string>LaunchBackground</string></dict>
  <key>NSCameraUsageDescription</key><string>Allow ALPFA NJIT to capture and share chapter photos.</string>
  <key>NSPhotoLibraryAddUsageDescription</key><string>Allow ALPFA NJIT to save your chapter photos.</string>
  <key>UIBackgroundModes</key><array><string>remote-notification</string></array>
  <key>UIApplicationSceneManifest</key><dict><key>UIApplicationSupportsMultipleScenes</key><false/></dict>
</dict></plist>

